<div data-ng-controller="HeaderController" ng-cloak="">
  <!-- Top Bar -->
    <div class="navbar navbar-nav">
      <div class="navbar-header">
        <div ncy-breadcrumb-text class="breadcrumb"></div>
      </div>
      <span flex=""></span>
      <ul class="nav navbar-nav" data-ng-show="tambo != null && authentication.user"> <!-- Tambo Seleccionado -->
        <li dropdown>
          <a href="#" class="dropdown-toggle hvr-underline-from-center" dropdown-toggle>
            <span>{{tambo.nombre}} </span><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/#!/tambos/{{tambo._id}}/edit" class="hvr-underline-from-center">Editar Tambo</a></li>
            <li><a href="/#!/tambos" class="hvr-underline-from-center">Cambiar Tambo</a></li>
            <li><a class="hvr-underline-from-center" ng-click="salirTambo()">Salir</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav" data-ng-hide="authentication.user"> <!-- Autenticación -->
         <!--<li ui-route="/signup" ng-class="{active: $uiRoute}">
          <a href="/#!/signup">Registrarse</a>
        </li>
        <li class="divider-vertical"></li>
        <li ui-route="/signin" ng-class="{active: $uiRoute}">
          <a href="/#!/signin">Ingresar</a>
        </li> -->
        <!-- <a href="/#!/" class="navbar-brand">dirsaWeb</a> -->
      </ul>
      <ul class="nav navbar-nav" data-ng-show="authentication.user">
        <li dropdown>
          <a href="#" class="dropdown-toggle hvr-underline-from-center" dropdown-toggle>
            <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b> <!-- Usuario -->
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/#!/settings/profile/{{authentication.user._id}}" class="hvr-underline-from-center">Editar Usuario</a>
            </li>
            <li>
              <a href="/#!/settings/password" class="hvr-underline-from-center">Cambiar Contraseña</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/auth/signout" ng-click="salirTambo()" class="hvr-underline-from-center">Salir</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Side Bar -->
    <div class="sidebar-wrapper" ng-mouseleave="barraLateralToggle()">
      <div ng-mouseenter="barraLateralToggle()" class="menuToggle">
        <md-button class="md-icon-button md-accent menuButton" ng-click="barraLateralToggle()" data-ng-hide="barraLateral">
          <md-icon md-font-set="material-icons"> menu </md-icon>
        </md-button>
      </div>
      <div class="sidebar-wrapper2" data-ng-show="barraLateral">
      <ul class="sidebar-nav nav main-menu" id="main-menu" data-ng-show="authentication.user">
        <div class="sidebar-brand">
          <img class="brand-icon" src="/images/ic_dirsa-web.png" alt="">
          <a href="/#!/" class="brand">dirsaWeb</a>
        </div>
        <li dropdown id="tambos">
          <a href="#" dropdown-toggle class="dropdown-toggle hvr-bounce-to-right"><img class="icono" src="/images/ic_tambo-web.png" alt="">Tambos<i class="material-icons">keyboard_arrow_down</i></a>
          <ul class="dropdown-menu">
            <li><a href="/#!/tambos" class="hvr-underline-from-center">Listado Tambos</a></li>
            <li><a href="/#!/tambos/create" class="hvr-underline-from-center">Agregar Tambo</a></li>
          </ul>
        </li>
        <li dropdown id="animal">
          <a href="#" dropdown-toggle class="hvr-bounce-to-right"><img class="icono" src="/images/ic_animales-web.png" alt="">Animales<i class="material-icons">expand_more</i></a>
          <ul class="dropdown-menu" id="sub-menu">
            <li class="dropdown-submenu disabled" dropdown>
              <a href="#" dropdown-toggle class="dropdown-toggle disabled hvr-underline-from-center">Vacas</a>
              <ul class="dropdown-menu sub-menu">
                <li><a href="/#!/vacas" class="hvr-underline-from-center">Listado Vacas</a></li>
                <li><a href="/#!/vaquillonas" class="hvr-underline-from-center">Listado Vaquillonas</a></li>
                <li><a href="/#!/vacas/create" class="hvr-underline-from-center">Agregar Vaca</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu disabled" dropdown>
              <a href="#" dropdown-toggle class="dropdown-toggle disabled hvr-underline-from-center">Crías</a>
              <ul class="dropdown-menu sub-menu">
                <li><a href="/#!/crias" class="hvr-underline-from-center">Listado Crías</a></li>
                <li><a href="/#!/crias/create" class="hvr-underline-from-center">Agregar Cría</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu" dropdown id="toros">
              <a href="#" dropdown-toggle class="dropdown-toggle hvr-underline-from-center">Toros</a>
              <ul class="dropdown-menu">
                <li><a href="/#!/toros" class="hvr-underline-from-center">Listado Toros</a></li>
                <li><a href="/#!/toros/create" class="hvr-underline-from-center">Agregar Toro</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="disabled" dropdown>
          <a href="#" dropdown-toggle class="dropdown-toggle disabled hvr-bounce-to-right"><img class="icono" src="/images/ic_reproduccion-web.png" alt="">Reproducción<i class="material-icons">keyboard_arrow_down</i></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/#!/eventos-reproductivos/carga-individual" class="hvr-underline-from-center">Carga Individual</a></li>
            <li><a href="/#!/eventos-reproductivos/carga-masiva" class="hvr-underline-from-center">Carga Masiva</a></li>
            <li><a href="/#!/eventos-reproductivos/listar" class="hvr-underline-from-center">Listado de Eventos</a></li>
          </ul>
        </li>
        <li class="disabled ausente" dropdown>
          <a href="#" dropdown-toggle class="dropdown-toggle disabled ausente">Empleados<i class="material-icons">keyboard_arrow_down</i></a>
          <!-- <ul class="dropdown-menu">
            <li><a href="/#!/empleados" class="hvr-underline-from-center">Listado Empleados</a></li>
            <li><a href="/#!/empleados/create" class="hvr-underline-from-center">Agregar Empleado</a></li>
          </ul> -->
        </li>
        <li class="disabled ausente" dropdown>
          <a href="#" dropdown-toggle class="dropdown-toggle disabled ausente"><img class="icono" src="/images/ic_produccion-web.png" alt="">Producción<i class="material-icons">keyboard_arrow_down</i></b>
          </a>
          <!-- <ul class="dropdown-menu">
            <li><a href="/#!/" class="hvr-underline-from-center">Nueva Producción</a></li>
            <li><a href="/#!/eventos-reproductivos/create" class="hvr-underline-from-center">Listado de Producción</a></li>
          </ul> -->
        </li>
        <md-divider></md-divider>
        <li dropdown data-ng-show="isAuthorized('admin')">
          <md-subheader class="md-accent admin">Menú administrador</md-subheader>
          <a href="#" dropdown-toggle class="dropdown-toggle hvr-bounce-to-right">Usuarios<i class="material-icons">keyboard_arrow_down</i></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/#!/users" class="hvr-underline-from-center">Listado de Usuarios</a></li>
            <li><a href="/#!/signup" class="hvr-underline-from-center">Agregar Usuario</a></li>
          </ul>
        </li>
        <div class="sidebar-footer">
          <md-button class="md-accent md-raised md-hue-3 pinButton hvr-wobble-bottom" ng-click="disableToggle()">{{toggle ? 'Bloquear':'Desbloquear'}}</md-button>
        </div>
      </ul>
    </div>  
    </div>
</div>






