<section class="inicio" data-ng-controller="HomeController" flex-gt-sm="">
  <span flex-gt-sm="30"></span>
    <md-card class="tarjetaTransparente md-padding">
      <md-card class="tarjetaInicio ticksBackground" ng-hide="authentication.user"  data-ng-controller="AuthenticationController">
        <md-card-title class="">
            <md-card-title-text>
                <h1 class="">Ingrese para comenzar</h1>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <form name="userForm" data-ng-submit="signin()" novalidate autocomplete="off">
              <div layout-gt-sm="row" align-items="center center">
                  <md-input-container class="ingresoDatos" flex-gt-sm="">
                      <label>Usuario</label>
                      <input data-ng-model="credentials.username" aria-label="Usuario">
                  </md-input-container>
                  <md-input-container class="ingresoDatos" flex-gt-sm="">
                      <input type="password" data-ng-model="credentials.password" aria-label="Contraseña">
                      <label>Contraseña</label>
                  </md-input-container>
                </div>
                <md-card-actions>
                    <md-button type="submit" class="md-accent md-hue-2 md-raised">Ingresar</md-button>
                </md-card-actions>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
          </form>
        </md-card-content>
    </md-card>
  </md-card>
      <div class="centeredIcon">
        <img class="brand-icon" src="/images/ic_dirsa-web-negro.png" alt="">
        <span class="brand">dirsaWeb</span>
      </div>
</section>