<section class="contenidoUsuario" data-ng-controller="UsersController">
	<md-card class="tarjeta1">
		<md-card-title class="tarjeta1Titulo">
			<md-card-title-text>
				<span class="md-headline">Nuevo Usuario</span>
			</md-card-title-text>
		</md-card-title>
	<md-card-content class="md-padding">
		<md-card class="md-padding">
			<form name="userForm" data-ng-submit="create()" class="signin form-horizontal" novalidate>
				<fieldset>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm="">
							<label>Nombre</label>
							<input data-ng-model="firstName">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm="">
							<label>Apellido</label>
							<input data-ng-model="lastName">
					</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
					<input style="display:none" type="text" name="fakeusernameremembered"/>
					<input style="display:none" type="password" name="fakepasswordremembered"/>
					<md-input-container class="md-block" flex-gt-sm="">
							<label>Email</label>
							<input data-ng-model="email">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm="">
							<label>Usuario</label>
							<input data-ng-model="username">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm="">
							<label>Contraseña</label>
							<input type="password" data-ng-model="password">
					</md-input-container>
				</div>
				<md-divider></md-divider>
				<div layout="column">
					<md-subheader>Roles:</md-subheader>
					<md-chips data-ng-model="roles">
						<md-chip-template>
							<span>{{$chip}}</span>
						</md-chip-template>
				</md-chips>
				</div>
				<div>
					<md-subheader>Tambos: </md-subheader>
					<md-chips data-ng-model="userTambos" md-autocomplete-snap="" md-require-match="true" md-transform-chip="agregarTambo(item)">	
						 <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in tambosQuery(searchText)" md-item-text="item.nombre" md-autoselect>
						 	<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.nombre}}</span>
      				</md-autocomplete>
						<md-chip-template>	 
							<span>{{$chip.nombre}}</span>
						</md-chip-template>
					</md-chips>
				</div>
				<div class="formFooter">
					<div layout="row">
						<md-button ng-href="/" class="btnCancelar">Cancelar</md-button>
						<md-button type="submit" class="md-primary">Registrar</md-button>
					</div>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
		</md-card>
	</md-card-content>
</md-card>
</section>