<section class="contenidoIngreso" data-ng-controller="AuthenticationController">
    <md-card class="tarjetaIngreso">
        <md-card-title class="tarjeta1Titulo">
            <md-card-title-text>
                <span class="md-headline">Ingresá tus datos</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="md-padding">
            <md-card class="md-padding">
                <form name="userForm" data-ng-submit="signin()" novalidate autocomplete="off">
                    <div layout-gt-sm="row" align-items="center center">
                        <md-input-container class="ingresoDatos" flex-gt-sm="">
                            <label>Usuario</label>
                            <input data-ng-model="credentials.username">
                        </md-input-container>
                        <md-input-container class="ingresoDatos" flex-gt-sm="">
                            <label>Contraseña</label>
                            <input type="password" data-ng-model="credentials.password">
                        </md-input-container>
                      </div>
                      <div class="formFooter ingresoFooter">
                        <div layout="row">
                          <md-button ng-href="/" class="btnCancelar">Cancelar</md-button>
                          <md-button type="submit" class="md-primary">Aceptar</md-button>
                        </div>
                      </div>
                      <div data-ng-show="error" class="text-center text-danger">
                          <strong data-ng-bind="error"></strong>
                      </div>
                </form>
            </md-card>
        </md-card-content>
    </md-card>
</section>