body{
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
}
.content {
  position: static;
  z-index: 1;
  background-attachment: fixed;
  background-repeat: repeat;
}
.container{
  width: 100%;
  padding: 0;
}
.contenido{
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ticksBackground{
  background-image: url('/images/ticks.png');
}
.contenidoListado{
  padding-top: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 20px;
  min-height: 100vh;
}
.panel-heading{
  color: white;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#page-wrapper.active {
  padding-left: 200px;
}
#page-wrapper {
  padding-left: 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar.active{
  padding-left: 200px;
}
.navbar{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 !important;
}
.sidebar-wrapper2{
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-wrapper2.ng-hide{
  margin-left: -150px;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.menuToggle{
  height: 100vh;
  position: fixed;
  width: 50px;
  padding-top: 15px;
  background-color: #1C2B36;
  z-index: 5;
  -webkit-box-shadow: inset -7px 0 10px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -7px 0 10px 1px rgba(0,0,0,0.25);
  box-shadow: inset -7px 0 10px 1px rgba(0,0,0,0.25);
}
.sidebar-brand{
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.25);
}
.sidebar-brand .brand-icon{
  height: 50px;
  width: 50px;
}
.sidebar-brand .brand {
  font-family: 'Cormorant Upright', serif;
  font-size: 28px;
  color: white;
}
.sidebar-nav{
  background: #1C2B36;
  margin-left: 0;
  padding-left: 0 !important;
  position: fixed;
  height: 100%;
  width: 200px;
  z-index: 5;
  -webkit-box-shadow: inset -7px 0 10px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -7px 0 10px 1px rgba(0,0,0,0.25);
  box-shadow: inset -7px 0 10px 1px rgba(0,0,0,0.25);
}
.sidebar-nav li{
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
  transition: 0.5s;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: black;
  background-color: rgba(34, 34, 34, 0.9);
  box-shadow: none;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-nav li.open{
  border-right: 4px solid #009688; 
  transition: 0.2s;
}
.sidebar-nav > li.open > a {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0; 
}
.hvr-shutter-out-vertical{
  background: transparent;
}
.hvr-bounce-to-right:before{
  background: linear-gradient(#334556, #2C4257), #2A3F54;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0; 
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus{
  background-color: transparent !important;
}
.sidebar-nav > li > a,
.sidebar-nav > li > ul > li > a{
  color: #fff;
  font-size: 14px;
	text-align: left;
}
.sidebar-nav .material-icons{
  float: right;
}
.dropdown-menu > li > a{
  color: #fff;  
  background-color: #111a21;
}
.dropdown-menu > li > a:hover{
  background: transparent;
}
.icono{
  height: 30px;
  width: 30px;
}
.dropdown-submenu>.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}
.dropdown-backdrop {
    position: static;
}
.dropdown-submenu {
    position: relative;
}
.sidebar-footer{
  position: absolute;
  bottom: 0;
  right: 0;
}
.pinButton{
  text-transform: none;
}
.main-menu md-divider{
  border-top-color: black;
  border-top-color: rgba(0,0,0,0.5);
  -webkit-box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.25);
  margin: 10px 0 0 0;
}
.admin{
  background: transparent;
}
/*-------------------------------*/
/*     Top navbar styles        */
/*-------------------------------*/
.navbar {
  padding: 2px;
  width: 100%;
  position: fixed !important;
  z-index: 4;
  display: flex;
  padding-left: 50px;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
}
.navbar-header{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.navbar-right{
  margin: 0;
}
.breadcrumb{
  font-family: 'Cormorant Upright', serif;
  font-size: 18px;
  background: transparent;
  padding: 14px 0;
  margin-bottom: 0;
  color: black;
}
.divider-vertical {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}
.navbar .navbar-brand {
  font-family: 'Cormorant Upright', serif;
  font-size: 28px;
  color: black;
}
.navbar .navbar-nav > li > a {
  color: black;
  font-size: 16px;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #263b4a;
  padding: 0;
  border-radius: 5px;
  left:auto;
  right:10px;
  margin-right:-10px;
}
.navbar .navbar-nav .dropdown-menu > li > a{
  padding: 10px 15px;
  color: white;
  font-size:14px;
  background: transparent;
}
.navbar .navbar-nav .dropdown-menu > li.divider {
  background-color: #34323c;
}
.navbar .navbar-nav .dropdown-toggle:hover,
.navbar .navbar-nav .dropdown-toggle:focus{
  background: transparent;
}
.navbar .navbar-nav .dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 30px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: black;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.navbar .navbar-nav .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 31px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #263b4a;
  border-left: 6px solid transparent;
  content: '';
}
.hvr-underline-from-center{
  overflow: visible;
}
.hvr-underline-from-center:before{
  background: teal;
  height: 2px;
}
/*-------------------------------*/
/*     Vista de inicio           */
/*-------------------------------*/

.inicio{
  background-image: url('/images/01-Apaisada.jpg');
  min-height: 100vh;
  z-index: -1;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.centeredIcon { 
  align-self:flex-start;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid #D7DBDD;
  font-size: 40px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.5),
    0 2px 3px rgba(0, 0, 0, 0.5),
    0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
.centeredIcon .brand-icon{
    margin-top: 15px;
    margin-left: 10px;
    height: 110px;
    width: 100px;
}
.centeredIcon .brand{
    font-family: 'Cormorant Upright', serif;
    font-size: 38px;
    color: black;
}
.tarjetaInicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #223039;
  background-color: #E5E5E5;
}
.tarjetaTransparente{
  align-self: center;
  max-width: 550px;
  border-radius: 10px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.5),
    0 2px 3px rgba(0, 0, 0, 0.5),
    0 4px 8px rgba(0, 0, 0, 0.5);
}
.tarjetaInicio md-card-actions{
  float: right;
}
.inicio h1{
  font-family: 'Cormorant Upright', serif;
  color: black;
  font-size: 48px;
  margin: 10px;
}
@media only screen and (max-width: 900px) {
  .inicio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .centeredIcon, .tarjetaTransparente{
    align-self: center;
    margin-left: 0;
  }
}
/*-------------------------------*/
/*          Tarjetas             */
/*-------------------------------*/

.tarjeta1 {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
}
.tarjetaIngreso{
  margin: auto;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.90);
  min-width: 600px;
}
.tarjeta1Titulo {
  background-color: #1c2a35;
  border-radius: 4px 4px 0 0;
}
.tarjeta2Titulo {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.tarjeta2Contenido {
  list-style: none;
  padding: 0 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  justify-content: space-around;
}
.detalleAnimal {
  margin: auto;
  margin-top: 30px;
  margin-left: 0;
}
.segundoContenido {
  margin: 20px 0;
  border-top: 1px solid #D7DBDD;
}
.formFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #D7DBDD;
    margin-top: 20px;
    padding-top: 14px;
}
.btnCancelar {
    color: #16A2D7;
    padding-right: 10px;
}
.md-headline {
    color: white;
    padding-left: 10px;
}
.md-block{
  margin: 20px 10px 10px 10px !important;
}
.activaSwitch {
    margin-left: 30px;
}
.paginacion{
  margin: auto; 
}

/*-------------------------------*/
/*          Directivas           */
/*-------------------------------*/

md-table-pagination .label {
  color: #757575;
}
md-card:first-child{
  padding: 0;
}
md-datepicker{
  min-width: 200px;
  margin-top: 0 !important;
}
md-select{
  min-width: 150px;
}
._md-datepicker-floating-label > label:not(.md-no-float):not(.md-container-ignore) {
  width: 100%;
  left: 15px;
}
md-toolbar{
  font-size: 15px;
  align-items: flex-end;
}
.md-dialog-container {
  height: 100vh !important;
  top: 0 !important;
  position: fixed !important;
}

/*-------------------------------*/
/*       Input Busqueda          */
/*-------------------------------*/

.busqueda{
  margin: 12px;
}
.busqueda .md-input {
  width: 100px;
  border-color: white;
  border-color: rgba(255, 255, 255, 0.90);
  transition: ease-in-out, width .35s ease-in-out;
}
.busqueda .md-input md-icon{
  color: white;
  color: rgba(255, 255, 255, 0.90);
}
::-webkit-input-placeholder {
   color: white;
}
.busqueda:not(.md-input-invalid).md-input-focused .md-input {
  width: 250px;
  border-color: white;
  border-color: rgba(255, 255, 255, 0.90);
}
.busqueda:not(.md-input-invalid).md-input-focused md-icon{
  color: white;
  color: rgba(255, 255, 255, 0.90);
}