.contenidoIngreso{
	  background-image: url('/images/02-Vacas.jpg');
	  height: 100vh;
	  z-index: -1;
	  width: 100%;
	  background-attachment: fixed;
	  background-repeat: no-repeat;
	  background-size: 100% 100%;
	  display: flex;
	  align-items: center;
	  flex-direction: column;
	  justify-content: center;
		  padding-top: 60px;
}
.contenidoUsuario{
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}
.ingresoFooter{
	margin: 0;
	padding: 0;
}
.ingresoDatos{
	margin: 30px 10px 0 10px;
}
@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}
.custom-chips md-chip {
  position: relative; 
}
.custom-chips .md-chips md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; 
	}
.tamboChip {
    position: relative;
    height: 24px;
    width: 24px;
    line-height: 30px;
    text-align: center;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    display: block; 
	}
	.tamboChip md-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
	}
.tamboChip md-icon:hover, 
.tamboChip md-icon:focus {
	color: teal;
}
.custom-chips md-chip md-chip-template {
  padding-right: 5px; 
}
