.contenidoToro{
  padding-top: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 20px;
  flex-direction: column;
  min-height: 100vh;
}
.listadoToro{
  padding-top: 60px;
  width: 100%;
}
.toolbar{
  background-color: teal;
  width: 100%;
}