.contenidoCargaEvento{
  padding-top: 80px;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.tarjeta{
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 600px;
}
.datos{
  margin: 15px;
  max-height: 50px;
  margin-top: 15px !important;
}
.listadoEventos{
  padding-top: 60px;
  padding-bottom: 20px;
  min-height: 100vh;
}
.evento{
  margin:  0 20px 0 20px;
  min-width: 50px;
}
.datePicker{
  margin-right: 10px;
}
.rp{
  margin: 0 50px 0 10px;
}
md-dialog{
  width: 600px;
}
.md-toolbar-tools{
  width: 100%;
  background-color: #2c3e50;
}
.headlineEdit {
  color: #e4e8ec;
  padding-left: 10px;
}
h4, h5{
  margin-left: 10px;
  margin-right: 30px;
}
.md-2-line{
  padding: 5px 10px 5px 10px;
}
.eventoIcono{
  color: white;
}
.listaEventos{
  border-left: 8px solid grey;
}
.listaEventos.ng-enter, 
.listaEventos.ng-leave, 
.listaEventos.ng-move {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  position:relative;
}
.listaContent{
  background: transparent;
  max-width: 800px;
  margin: auto;
}
.listaEventos{
  background-color: white;
  background-color: rgba(255, 255, 255, 0.90);
}
.listaEventos.ng-enter {
  left:-10px;
  opacity:0;
}
.listaEventos.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.listaEventos.ng-leave {
  left:0;
  opacity:1;
}
.listaEventos.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.listaEventos.ng-move {
  opacity:0.5;
}
.listaEventos.ng-move.ng-move-active {
  opacity:1;
}
.ultimoServicio{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}