<md-dialog aria-label="Toro" data-ng-controller="TorosController">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span>{{toro.nombre}}</span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card layout="column" ng-hide="editar">
    <md-subheader class="md-primary">Detalles</md-subheader>
    <md-divider></md-divider>
    <h5>RP: {{toro.rp}}</h5>
    <h5>HBA: {{toro.hbaToro}}</h5>
    <h5>Apodo: {{toro.apodo}}</h5>
    <h5>Raza: {{toro.raza}}</h5>
    <h5>Fecha de Nacimiento: {{toro.fechaNacimiento | date : 'dd/MM/yyyy' : '-0300'}}</h5>
    <h5>Fecha de Ingreso: {{toro.fechaIngreso | date : 'dd/MM/yyyy' : '-0300'}}</h5>
    <h5>Tipo de Servicio: {{toro.tipoServicio}}</h5>
    <md-card-actions class="formFooter" layout="row" layout-align="end center">
        <md-button class="md-primary" ng-click="hide2()">Estadísticas</md-button>
        <md-button class="md-primary" ng-click="hide()">Editar</md-button>
        <md-button class="md-warn" ng-click="remove(toro)">Eliminar</md-button>
    </md-card-actions>
  </md-card>
</md-dialog>