<md-dialog aria-label="Evento" data-ng-controller="EventosReproductivosController">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h3 ng-init="vaca = rp">RP: {{rp}}</h3>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="material-icons" aria-label="Cerrar dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card layout="column" ng-hide="editar">
    <form name="cargaIndividualEvento" data-ng-submit="create()" novalidate>
        <fieldset>
            <md-card class="md-padding">
                <div layout-gt-md="row" layout-align="space-between">
                  <md-select data-ng-model="evento" class="datos" placeholder="Evento" required>
                    <md-option ng-value="evento" ng-repeat="evento in eventos">{{evento.codigo}} - {{evento.descripcion}}</md-option>
                  </md-select>
                  <md-datepicker data-ng-model="fecha" class="datos" md-placeholder="Fecha"></md-datepicker>
                </div>
                <div layout-gt-sm="row" layout-align="start">
                    <md-select class="datos" data-ng-model="tratamiento" placeholder="Tratamiento" required>
                        <md-option ng-value="tratamiento" ng-repeat="tratamiento in tratamientos">{{tratamiento.numero}} - {{tratamiento.descripcion}}</md-option>
                    </md-select>
                    <md-select class="datos" data-ng-model="participante" placeholder="Participante" required>
                        <md-option ng-value="empleado" ng-repeat="empleado in empleados">{{empleado.nombre}}</md-option>
                    </md-select>
                    <md-button data-ng-show="evento.codigo == 2" ng-click="individualMostrarHBA($event)" class="datos md-primary md-raised">{{botonHBA}}</md-button>
                </div>
            </md-card>
            <md-card-actions class="formFooter" layout="row" layout-align="end center">
                <md-button ng-click="cancel()" class="btnCancelar">Cancelar</md-button>
                <md-button type="submit" ng-click="hide()" class="md-primary" ng-disabled="cargaIndividualEvento.$invalid">Aceptar</md-button>
              </md-card-actions>
        </fieldset>
    </form>
  </md-card>
</md-dialog>