<section class="contenidoCargaEvento" data-ng-controller="EventosReproductivosController">
	<md-card class="tarjeta">
			<md-card-title class="tarjeta1Titulo">
					<md-card-title-text>
							<span class="md-headline">Carga Individual de Evento Reproductivo</span>
					</md-card-title-text>
			</md-card-title>
			<md-card-content class="md-padding">
					<form name="cargaIndividualEvento" data-ng-submit="create()" novalidate>
							<fieldset>
									<md-card class="md-padding">
											<div layout-gt-md="row" layout-align="space-between center">
													<md-button ng-click="individualMostrarRP($event); evento = null" class="datos md-primary md-raised">{{botonRP}}</md-button>
													<md-datepicker data-ng-model="fecha" class="datos" md-placeholder="Fecha"></md-datepicker>
											</div>
											<div layout-gt-md="row" layout-align="space-between">
											<md-select flex="50" data-ng-model="evento" class="datos" placeholder="Evento" required data-ng-change="escucharEvento(evento)">
												<md-option ng-value="evento" ng-repeat="evento in eventos | orderBy: 'evento.codigo'">{{evento.codigo}} - {{evento.descripcion}}</md-option>
											</md-select>
											<md-card flex="50" data-ng-show="evento.codigo == 3" class="md-whiteframe-2dp tarjetaServicio">
												<h5 class="md-subhead">Servicio</h5>
												<md-divider></md-divider>
												<div class="ultimoServicio" ng-show="vaca">
													<h5>Fecha: {{servicio.fecha | date : 'dd/MM/yyyy' : '-0300'}}</h5>
													<h5>HBA Toro: {{servicio.toro}}</h5>
												</div>
												<div class="" ng-hide="vaca">
													<h5>No ha seleccionado RP</h5>
												</div>
											</md-card>
											<md-button data-ng-show="evento.codigo == 2" ng-click="individualMostrarHBA($event)" class="datos md-primary md-raised">{{botonHBA}}</md-button>
										</div>
											<div layout-gt-sm="row" layout-align="start">
													<md-select flex="50" class="datos" data-ng-model="tratamiento" placeholder="Tratamiento" required>
															<md-option ng-value="tratamiento" ng-repeat="tratamiento in tratamientos">{{tratamiento.numero}} - {{tratamiento.descripcion}}</md-option>
													</md-select>
													<md-select flex="50" class="datos" data-ng-model="participante" placeholder="Participante" required>
															<md-option ng-value="empleado" ng-repeat="empleado in empleados">{{empleado.nombre}}</md-option>
													</md-select>
											</div>
									</md-card>
									<div class="formFooter">
											<md-button ng-href="#!/eventos-reproductivos" class="btnCancelar">Cancelar</md-button>
											<md-button type="submit" class="md-primary" ng-disabled="cargaIndividualEvento.$invalid">Aceptar</md-button>
									</div>
							</fieldset>
					</form>
			</md-card-content>
	</md-card>
</section>