<section class="contenidoCargaEvento" data-ng-controller="EventosReproductivosController">
    <md-card class="tarjeta">
        <md-card-title class="tarjeta1Titulo">
            <md-card-title-text>
                <span class="md-headline">Carga Masiva de Evento Reproductivo</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="md-padding">
            <form name="cargaMasivaEvento" data-ng-submit="cargarMasivamente()" novalidate>
                <fieldset>
                    <md-card class="md-padding">
                        <div layout-gt-sm="row" layout-align="space-between">
                            <md-select data-ng-model="evento" class="datos" placeholder="Evento" required>
                                <md-option ng-value="evento" ng-repeat="evento in eventos | where:{masivo : true}">{{evento.codigo}} - {{evento.descripcion}}</md-option>
                            </md-select>
                            <md-button data-ng-show="evento.codigo == 2" ng-click="individualMostrarHBA($event)" class="datos md-primary md-raised">{{botonHBA}}</md-button>
                            <md-datepicker class="datos" data-ng-model="fecha" md-placeholder="Fecha" required></md-datepicker>
                        </div>
                        <div layout-gt-sm="row" layout-align="start">
                            <md-select flex="50" class="datos" data-ng-model="tratamiento" placeholder="Tratamiento" required>
                                <md-option ng-value="tratamiento" ng-repeat="tratamiento in tratamientos">{{tratamiento.numero}} - {{tratamiento.descripcion}}</md-option>
                            </md-select>
                            <md-select flex="50" class="datos" data-ng-model="participante" placeholder="Participante" required>
                                <md-option ng-value="empleado" ng-repeat="empleado in empleados">{{empleado.nombre}}</md-option>
                            </md-select>
                        </div>
                    </md-card>
                    <md-card>
                        <md-toolbar>
													<div class="md-toolbar-tools">
														<h2>RP</h2>
														<span flex=""></span>
														<md-button class="md-fab md-mini md-accent md-hue-2" ng-click="masivoMostrarRP($event)">
															<md-icon md-font-set="material-icons"> add </md-icon>
														</md-button>
													</div>
                        </md-toolbar>
                          <md-table-container>
                            <!-- Listado de Vacas -->
                            <table md-table>
                              <tbody md-body>
                                <tr md-row data-ng-repeat="vaca in filtered = listaVacas | limitTo: offset - filtered.length | limitTo: pageListSize" data-num-pages="numPages()">
                                  <td md-cell><p style="margin-left:20px">{{vaca}}</p></td>
                                  <td md-cell style="text-align:right"><md-button class="md-secondary" ng-click="quitarRP(vaca)"><md-icon md-font-set="material-icons" aria-label="Quitar">close</md-icon></md-button></td>
                                </tr>
                              </tbody>
                            </table>
                            <md-table-pagination class="paginacion" md-limit="pageListSize" md-total="{{filtered.length}}" md-page="currentPage" ng-show="filtered.length > pageListSize" md-page="currentPage" md-on-paginate="pageListChanged()" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
                          </md-table-container>
                        <!--<md-list flex="" ng-repeat="vaca in listaVacas">
                          <md-list-item>
                            <p style="margin-left:20px">{{vaca}}</p>
                            <md-button class="md-secondary" ng-click="quitarRP(vaca)"><md-icon md-font-set="material-icons" aria-label="Quitar">close</md-icon></md-button>
                            <md-divider></md-divider>
                          </md-list-item>
                        </md-list>-->
                        <div class="formFooter">
                            <md-button ng-href="#!/eventos-reproductivos" class="btnCancelar">Cancelar</md-button>
                            <md-button type="submit" class="md-primary" ng-disabled="cargaMasivaEvento.$invalid">Aceptar</md-button>
                        </div>
                    </md-card>
                </fieldset>
            </form>
        </md-card-content>
    </md-card>
</section>