<section class="contenido" data-ng-controller="EventosReproductivosController" data-ng-init="findOne()">
   <!-- Editar Evento Reproductivo -->
   <md-card class="tarjeta">
       <md-card-title class="tarjeta1Titulo">
           <md-card-title-text>
               <span class="md-headline headlineEdit">Editar Evento Reproductivo</span>
           </md-card-title-text>
       </md-card-title>
       <md-card-content class="md-padding">
           <md-card class="md-padding">
               <form class="md-inline-form" name="edicionEvento" data-ng-submit="update()" novalidate>
                   <!--Formulario Editar Evento Reproductivo -->
                   <fieldset>
                       <div layout-gt-md="row" layout-align="space-between center">
                           <h4 class="datos">RP: {{eventoReproductivo.vaca}}</h4>
                           <md-button aria-label="Seleccionar RP" ng-click="individualMostrarRP($event)" class="md-primary md-raised">Cambiar RP</md-button>
                           <md-datepicker class="datos" data-ng-model="fecha" md-placeholder="Fecha"></md-datepicker>
                       </div>
                       <md-select data-ng-model="eventoReproductivo.evento" class="datos" placeholder="Evento" required>
                         <md-option ng-value="evento" ng-repeat="evento in eventos">{{evento.codigo}} - {{evento.descripcion}}</md-option>
                       </md-select>
                       <div layout-gt-sm="row">
                           <md-select class="datos" flex="50" data-ng-model="eventoReproductivo.tratamiento" placeholder="Tratamiento">
                               <md-option ng-value="tratamiento" ng-repeat="tratamiento in tratamientos">{{tratamiento.numero}} - {{tratamiento.descripcion}}</md-option>
                           </md-select>
                           <md-select class="datos" flex="50" data-ng-model="eventoReproductivo.participante" placeholder="Participante" required>
                               <md-option ng-value="empleado" ng-repeat="empleado in empleados">{{empleado.nombre}}</md-option>
                           </md-select>
                           <div layout-gt-md="row" layout-align="center center" data-ng-show="eventoReproductivo.evento.codigo == 2" >
                              <h5 class="datos">HBA Toro: {{eventoReproductivo.toro}}</h5>
                              <md-button ng-click="individualMostrarHBA($event)" class="md-primary md-raised">Cambiar HBA</md-button>
                           </div>
                       </div>
                       <div class="formFooter">
                           <md-button ng-href="#!/eventos-reproductivos/listar" class="btnCancelar">Cancelar</md-button>
                           <md-button type="submit" class="md-primary" ng-disabled="edicionEvento.$invalid">Aceptar</md-button>
                       </div>
                   </fieldset>
               </form>
           </md-card>
       </md-card-content>
   </md-card>
 </section>