<section class="listadoEventos" data-ng-controller="EventosReproductivosController" data-ng-init="find()">
    <md-card>
      <md-toolbar layout="row">
        <md-button class="md-icon-button" ng-click="find()">
          <md-tooltip>Actualizar</md-tooltip>
          <md-icon>refresh</md-icon>
        </md-button>
        <span flex></span>
        <md-input-container class="busqueda" md-no-float>
          <input type="text" ng-model="search" placeholder="Buscar" ng-change="filter()">
          <md-icon md-font-set="material-icons" class="eventoIcono">search</md-icon>
        </md-input-container>
      </md-toolbar>
        <!-- Listado de Eventos -->
        <md-table-container>
          <table md-table>
            <thead md-head md-order="orden">
              <tr md-row layout-align="space-around">
                <th md-column md-order-by="vaca"><span>RP</span></th>
                <th md-column md-order-by="evento.codigo"><span>Evento</span></th>
                <th md-column md-order-by="fecha"><span>Fecha</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row class="listaEventos" ng-click="mostrarDetalle($event, eventoReproductivo)" ng-style="{'border-left-color': eventoReproductivo.evento.color}" data-ng-repeat="eventoReproductivo in filtered = (eventosReproductivos | filterBy: ['evento.codigo','vaca']:search | filter: {tambo:tambo} | orderBy:orden) | limitTo: offset - filtered.length | limitTo: pageSize" data-num-pages="numPages()">    
                <td md-cell>{{eventoReproductivo.vaca}}</td>
                <td md-cell>{{eventoReproductivo.evento.codigo}} - {{eventoReproductivo.evento.descripcion}}</td>
                <td md-cell>{{eventoReproductivo.fecha | date : 'dd/MM/yyyy' : '-0300'}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination class="paginacion" md-limit="pageSize" md-total="{{filtered.length}}" md-page="currentPage" ng-show="filtered.length > pageSize" md-page="currentPage" md-on-paginate="pageChanged()" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
      </md-card>
</section>