<section class="contenidoTambo" data-ng-controller="TambosController" data-ng-init="findOne()">
    <md-card class="tarjeta1">
        <md-card-title class="tarjeta1Titulo">
            <md-card-title-text>
                <span class="md-headline">Editar Tambo</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="md-padding">
            <md-card class="md-padding">
                <form class="md-inline-form" name="formularioTambo" data-ng-submit="update()" novalidate>
                    <!--Formulario Editar Tambo -->
                    <fieldset>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Nombre</label>
                                <input data-ng-model="tambo.nombre">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Dirección</label>
                                <input data-ng-model="tambo.direccion">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                          <md-input-container layout="row"flex-gt-sm="">
                            <label>Productor</label>
                            <md-select data-ng-model="tambo.productor" class="productor" placeholder="Productor" required>
                              <md-option ng-value="productor" ng-repeat="productor in productores">{{productor.idProductor}} - {{productor.nombre}}</md-option>
                            </md-select>
                          </md-input-container>
                          <md-input-container layout="row" flex-gt-sm="">
                            <label>Fecha de Alta</label>
                            <md-datepicker data-ng-model="fechaAlta"></md-datepicker>
                          </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>ID Tambo</label>
                            <input data-ng-model="tambo.idTambo">
                          </md-input-container>
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>ID Acha</label>
                            <input data-ng-model="tambo.idAcha">
                          </md-input-container>
                        </div>
                        <div class="formFooter">
                            <div layout="row">
                              <md-button ng-href="#!/tambos" class="btnCancelar">Cancelar</md-button>
                              <md-button type="submit" class="md-primary">Aceptar</md-button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </md-card>
        </md-card-content>
    </md-card>
</section>