<section class="contenidoToro" data-ng-controller="TambosController" data-ng-init="find()">
	<md-card class="listadoToro">
		<md-table-container>
			<!-- Listado de Tambos -->
			<table md-table>
				<thead md-head md-order="orden">
					<tr md-row>
						<th md-column md-order-by="numero"><span>Numero Tambo</span></th>
						<th md-column md-order-by="nombre"><span>Nombre Tambo</span></th>
						<th md-column md-order-by="productor.numero"><span>Numero Propietario</span></th>
						<th md-column md-order-by="productor.nombre"><span>Nombre Propietario</span></th>
					</tr>
				</thead>
				<tbody md-body>
					<tr ng-click="seleccionarTambo(tambo)" md-row data-ng-repeat="tambo in tambos | filter:filtroUsuario | limitTo: offset - tambos.length | orderBy:orden | limitTo: pageSize" data-num-pages="numPages()">
						<td md-cell>{{tambo.numero}}</td>
						<td md-cell>{{tambo.nombre}}</td>
						<td md-cell>{{tambo.productor.numero}}</td>
						<td md-cell>{{tambo.productor.nombre}}</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
		<md-table-pagination class="paginacion" md-limit="pageSize" md-total="{{tambos.length}}" md-page="currentPage" ng-show="tambos.length > pageSize" md-page="currentPage" md-on-paginate="pageChanged()" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
	</md-card>
</section>