.contenidoTambo{
  padding-top: 60px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.tarjeta1 {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  min-width: 600px;
}
.contenidoListadoTambo{
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/images/01-Apaisada.jpg'); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.productor{
  margin-left: 15px;
}