<section class="contenidoVaca" data-ng-controller="CriasController">
    <!-- Nueva Cria -->
    <md-card class="tarjetaFormulario">
        <md-card-title class="tarjeta1Titulo">
            <md-card-title-text>
                <span class="md-headline">Nueva Cría</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="md-padding">
            <md-card class="md-padding">
                <form class="md-inline-form" name="formularioCria" data-ng-submit="create()" novalidate>
                    <!--Formulario Nueva Cria -->
                    <fieldset>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Nombre</label>
                                <input data-ng-model="nombre" name="nombre">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>RP</label>
                                <input data-ng-model="rp" required="" name="rp">
                                <div ng-messages="formularioCria.rp.$error">
                                  <div ng-message="required">Ingrese un RP</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>RC</label>
                                <input data-ng-model="rc">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Categoría</label>
                                <input data-ng-model="categoria">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container layout="row" flex-gt-sm="">
                              <label>Fecha de Nacimiento</label>
                              <md-datepicker data-ng-model="fechaNacimiento" md-placeholder="Fecha de Nacimiento" required></md-datepicker>
                            </md-input-container>
                            <md-input-container layout="row" flex-gt-sm="">
                              <label>Fecha de Ingreso</label>
                              <md-datepicker data-ng-model="fechaIngreso" md-placeholder="Fecha de Ingreso" required></md-datepicker>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Edad</label>
                                <input data-ng-model="edad">
                            </md-input-container>
                            <md-radio-group class="radioGroup" layout="column" ng-model="sexo">
                              <label>Sexo</label>
                              <md-radio-button value="Hembra">Hembra</md-radio-button>
                              <md-radio-button value="Macho">Macho</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Raza</label>
                                <input data-ng-model="raza" required>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Madre</label>
                                <input data-ng-model="rpMadre" name="madre" required="">
                                <div ng-messages="formularioCria.madre.$error">
                                  <div ng-message="required">Ingrese la madre</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Padre</label>
                                <input data-ng-model="hbaPadre" name="padre" required="">
                                <div ng-messages="formularioCria.padre.$error">
                                  <div ng-message="required">Ingrese el padre</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="formFooter formCheckbox">
                            <md-checkbox data-ng-model="cria.activa">Activa</md-checkbox>
                            <div layout="row">
                              <md-button ng-href="#!/crias" class="btnCancelar">Cancelar</md-button>
                              <md-button type="submit" class="md-primary" ng-disabled="formularioCria.$invalid">Aceptar</md-button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </md-card>
        </md-card-content>
    </md-card>
</section>