<section class="contenidoCria" data-ng-controller="CriasController" data-ng-init="findOne()">
  <md-card class="tarjetaCria">
    <div layout-gt-sm="row">
      <div>
        <img src="/images/VACA-320(2).jpg" class="md-media-gt-sm card-media" flex="initial"></img>
        <div class="activaSwitch">
          <md-switch ng-disabled="true" class="md-primary" aria-label="Switch Activa" data-ng-model="cria.activa">Activa</md-switch>
        </div>
      </div>
      <div layout-gt-md="column" flex>
        <md-card-title-text class="tarjeta2Titulo" layout="row">
            <h3>RP: {{cria.rp}}</h3>
            <h3>{{cria.nombre}}</h3>
        </md-card-title-text>
        <md-card-content class="tarjeta2Contenido" layout="column">
          <ul class="list-unstyled">
            <li>RC: {{cria.rc}}</li>
            <li>Categoría: {{cria.categoria}}</li>
            <li>Fecha Nacimiento: {{cria.fechaNacimiento | date : 'dd/MM/yyyy' : '-0300'}}</li>
            <li>Edad: {{cria.edad}}</li>
            <li>Raza: {{cria.raza}}</li>
          </ul>
          <div layout-gt-sm="row" class= "segundoContenido">
            <ul class="list-unstyled detalleAnimal">
              <li>Padre: {{cria.hbaPadre}}</li>
              <li>Madre: {{cria.rpMadre}}</li>
              <li>Sexo: {{cria.sexo}}</li>
              <li>Fecha Ingreso: {{cria.fechaIngreso | date : 'dd/MM/yyyy' : '-0300'}}</li>
            </ul>
          </div>
        </md-card-content>
      </div>
    </div>
      <md-card-actions class="formFooter" layout="row" layout-align="end center">
          <md-button ng-href="#!/crias" class="btnCancelar">Cancelar</md-button>
          <md-button class="md-primary" href="#!/crias/{{cria._id}}/edit">Editar</md-button>
          <md-button class="md-warn" data-ng-click="remove();">Eliminar</md-button>
      </md-card-actions>
  </md-card>
</section>