<section class="contenidoIngreso" data-ng-controller="SettingsController">
	<md-card class="tarjetaIngreso">
		<md-card-title class="tarjeta1Titulo">
			<h3 class="md-headline">Cambia tu contraseña</h3>
		</md-card-title>
		<md-content class="md-padding">	
	<div class="">
		<form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="currentPassword">Contraseña actual</label>
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Contraseña actual">
				</div>
				<div class="form-group">
					<label for="newPassword">Nueva Contraseña</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="Nueva Contraseña">
				</div>
				<div class="form-group">
					<label for="verifyPassword">Verifique Contraseña</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verifique Contraseña">
				</div>
				<div class="formFooter">
					<div layout="row">
						<md-button ng-href="/" class="btnCancelar">Cancelar</md-button>
						<md-button type="submit" class="md-primary">Aceptar</md-button>
					</div>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Password Changed Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</md-content>
	</md-card>
	</div>
</section>