<section class="contenidoUsuario" data-ng-controller="UsersController" data-ng-init="findOne()">
	<md-card class="tarjeta1">
		<md-card-title class="tarjeta1Titulo">
				<md-card-title-text>
					<span class="md-headline">Editar Usuario</span>
				</md-card-title-text>
		</md-card-title>
	<md-card-content class="md-padding">
		<md-card class="md-padding">
		<form name="userForm" data-ng-submit="update(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm="">
						<label>Nombre</label>
						<input type="text" data-ng-model="user.firstName">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm="">
						<label>Apellido</label>
						<input type="text" data-ng-model="user.lastName">
					</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm="">
							<label>Usuario</label>
							<input type="text" data-ng-model="user.username">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm="">
						<label>Email</label>
						<input type="email" data-ng-model="user.email">
					</md-input-container>
				</div>
				<md-divider></md-divider>
				<div layout="column">
					<md-subheader>Roles:</md-subheader>
					<md-chips data-ng-model="user.roles">
						<md-chip-template>
							<span>{{$chip}}</span>
						</md-chip-template>
				</md-chips>
					<md-divider></md-divider>
					<md-subheader>Tambos: </md-subheader>
					<md-chips data-ng-model="userTambos" md-autocomplete-snap="" md-require-match="true">	
						<md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in tambosQuery(searchText)" md-item-text="item.nombre" md-autoselect>
						 	<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.nombre}}</span>
      			</md-autocomplete>
						<md-chip-template>	 
							<span>{{$chip.nombre}}</span>
						</md-chip-template>
					</md-chips>
				</div>
				<div class="formFooter">
					<div layout="row">
						<md-button class="md-warn" data-ng-click="remove();">Eliminar</md-button>
						<md-button ng-href="/#!/users" class="btnCancelar">Cancelar</md-button>
						<md-button type="submit" class="md-primary">Aceptar</md-button>
					</div>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</md-card>
	</md-card-content>
</md-card>
</section>



