.contenidoVaca{
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.contenidoFormulario{
  padding-top: 80px;
  min-height: 100vh;
}
ks-swiper-container{
  height: 100vh;
}
.swiper-pagination{
  margin-top: 20px;
}
.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}
.tarjetaFormulario{
  margin: 1% 5%;
  max-width: 800px;
}
.listadoVaca{
  width: 100%;
}
.tabs{
  width: 100%;
  height: 100%;
}
md-tab-content{
  height: 100%;
}

body > md-toolbar {
  z-index: 3;
}

md-toolbar.md-table-toolbar.alternate {
  color: #1e88e5;
  background-color: #e3f2fd;
}

md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
  font-size: 16px;
}
.formCheckbox{
  justify-content: space-between;
  margin: 10px;
}
md-card:first-child {
  padding: 0 !important;
}
h4{
  margin-left: 10px;
  margin-right: 30px;
}
md-list{
  padding: 0;
}
.eventosContainer{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  min-height: 84vh;
  margin-left: 20px;
}
.card-media {
  width: 350px;
  height: 300px;
  border: 3px solid #fff;
  box-shadow: 0 0 2px 0 rgba(50, 50, 50, 0.95);
  margin-bottom: 20px;
}
.listaVacas.ng-enter, 
.listaVacas.ng-leave, 
.listaVacas.ng-move {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  position:relative;
}

.listaVacas.ng-enter {
  left:-10px;
  opacity:0;
}
.listaVacas.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.listaVacas.ng-leave {
  left:0;
  opacity:1;
}
.listaVacas.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.listaVacas.ng-move {
  opacity:0.5;
}
.listaEventos.ng-move.ng-move-active {
  opacity:1;
}
.fullScreenDialog{
    max-width: 50%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}