<section class="contenidoListado" data-ng-controller="UsersController" data-ng-init="find()">
  <md-card class="listadoVaca">
    <md-toolbar layout="row">
      <md-button class="md-icon-button" ng-click="find()">
        <md-icon>refresh</md-icon>
      </md-button>
      <span flex></span>
      <md-input-container class="busqueda" md-no-float>
        <input type="text" ng-model="search" placeholder="Buscar" ng-change="filter()">
        <md-icon md-font-set="material-icons" class="eventoIcono">search</md-icon>
      </md-input-container>    
    </md-toolbar>
    <md-table-container>
      <table md-table>
        <thead md-head md-order="orden">
          <tr md-row>
            <th md-column md-order-by="displayName"><span>Nombre</span></th>
            <th md-column md-order-by="username"><span>Usuario</span></th>
            <th md-column md-order-by="roles"><span>Roles</span></th>
            <th md-column md-order-by="tambos"><span>Tambos</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr class="" ng-click="editarUsuario(user)" md-row data-ng-repeat="user in filtered = (users | filterBy: ['displayName', 'roles']: search | orderBy:orden) | limitTo: offset - filtered.length | limitTo: pageSize">    
            <td md-cell>{{user.displayName}}</td>
            <td md-cell>{{user.username}}</td>
            <td md-cell><span data-ng-repeat="rol in user.roles">{{rol}}{{$last ? '' : ', '}}</span></td>
            <td md-cell><span data-ng-repeat="tambo in user.tambos">{{tambo.nombre}}{{$last ? '' : ', '}}</span></td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination class="paginacion" md-limit="pageSize" md-total="{{filtered.length}}" md-page="currentPage" ng-show="filtered.length > pageSize" md-page="currentPage" md-on-paginate="pageChanged()" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
  </md-card>
	<md-button class="md-fab md-primary md-hue-2 botonAgregar" ng-click="nuevoUsuario()">
		<md-icon md-font-set="material-icons"> add </md-icon>
	</md-button>
</section>