<section class="contenidoFormulario" data-ng-controller="VacasController" data-ng-init="findOne()">
    <!-- Editar Vaca -->
    <form class="md-inline-form" name="formularioVaca" data-ng-submit="update()" novalidate>     
    <ks-swiper-container swiper="swiper" pagination-is-active="true">
      <ks-swiper-slide class="swiper-slide">        
        <md-card class="tarjetaFormulario">
          <md-card-title class="tarjeta1Titulo">
              <md-card-title-text class="md-headline">Datos Principales</md-card-title-text>
                <md-button ng-click="siguienteTarjeta()" class="md-primary md-raised">Continuar</md-button>
          </md-card-title>
          <md-card-content class="md-padding">
            <md-card class="md-padding">
              <!--Formulario Editar Vaca -->
              <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm="">
                      <label>Nombre</label>
                      <input data-ng-model="vaca.nombre">
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm="">
                      <label>RP</label>
                      <input data-ng-model="vaca.rp" required="" name="rp">
                      <div ng-messages="formularioVaca.rp.$error">
                        <div ng-message="required">Ingrese un RP</div>
                      </div>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm="">
                      <label>RC</label>
                      <input data-ng-model="vaca.rc">
                  </md-input-container>
              </div>
              <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm="">
                      <label>Categoría</label>
                      <input data-ng-model="vaca.categoria">
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Raza</label>
                    <input data-ng-model="vaca.raza" required>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Edad</label>
                    <input data-ng-model="vaca.edad">
                  </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container layout="row"flex-gt-sm="">
                  <label>Fecha de Nacimiento</label>
                  <md-datepicker data-ng-model="fechaNacimiento" md-placeholder="Fecha de Nacimiento" required></md-datepicker>
                </md-input-container>
                <md-input-container layout="row"flex-gt-sm="">
                  <label>Fecha de Ingreso al Tambo</label>
                  <md-datepicker data-ng-model="fechaIngresoTambo" md-placeholder="Fecha de Ingreso al Tambo" required></md-datepicker>
                </md-input-container>
                <md-input-container layout="row"flex-gt-sm="">
                  <label>Fecha de Ingreso al Sistema</label>
                  <md-datepicker data-ng-model="fechaIngresoSistema" md-placeholder="Fecha de Ingreso al Sistema" required></md-datepicker>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>RP Madre</label>
                    <input data-ng-model="vaca.rpMadre" name="madre" required="">
                    <div ng-messages="formularioVaca.madre.$error">
                      <div ng-message="required">Ingrese la madre</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>HBA Padre</label>
                    <input data-ng-model="vaca.hbaPadre" name="padre" required="">
                    <div ng-messages="formularioVaca.padre.$error">
                      <div ng-message="required">Ingrese el padre</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Caravana</label>
                    <input data-ng-model="vaca.caravana">
                </md-input-container>
              </div>
              <div layout="column" layout-align="center center">
                <md-checkbox data-ng-model="vaca.activa">Activa</md-checkbox>
              </div>
            </md-card>
          </md-card-content>
        </md-card>
      </ks-swiper-slide>
      <ks-swiper-slide>
        <md-card class="tarjetaFormulario">
          <md-card-title class="tarjeta1Titulo">
            <md-card-title-text class="md-headline">Datos Reproductivos</md-card-title-text>
            <md-button ng-click="anteriorTarjeta()" class="md-accent md-raised md-hue-2">Volver</md-button>
            <md-button ng-click="siguienteTarjeta()" class="md-primary md-raised">Continuar</md-button>
          </md-card-title>
          <md-card-content class="md-padding">
            <md-card class="md-padding">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Cantidad de Servicios</label>
                  <input data-ng-model="vaca.cantidadServicios">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Días al Parto</label>
                  <input data-ng-model="vaca.diasAlParto">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Días Preñez</label>
                  <input data-ng-model="vaca.diasPrenez">
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Lote Actual</label>
                    <input data-ng-model="vaca.loteActual">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Lote Anterior</label>
                    <input data-ng-model="vaca.loteAnterior">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Secado</label>
                    <input data-ng-model="vaca.secado">
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>No Retorno</label>
                  <input data-ng-model="vaca.noRetorno">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Índice Parto Parto</label>
                    <input data-ng-model="vaca.ipp">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Índice Parto Concepción</label>
                    <input data-ng-model="vaca.ipc">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Índice Parto Parto Promedio</label>
                    <input data-ng-model="vaca.ippp">
                </md-input-container>
              </div>
            </md-card>
          </md-card-content>
        </md-card>
      </ks-swiper-slide>
      <ks-swiper-slide>
        <md-card class="tarjetaFormulario">
            <md-card-title class="tarjeta1Titulo">
              <md-card-title-text class="md-headline">Datos Reproductivos</md-card-title-text>
            </md-card-title>
            <md-card-content class="md-padding">
              <md-card class="md-padding">
                <div layout-gt-sm="row" layout-align="space-around">
                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Índice Fertilidad</label>
                    <input data-ng-model="vaca.indiceFertilidad">
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Número de Lactancia</label>
                    <input data-ng-model="vaca.numeroLactancia">
                  </md-input-container>
                  <md-input-container layout="row"flex-gt-sm="">
                    <label>Fecha de Inicio Lactancia</label>
                    <md-datepicker data-ng-model="fechaInicioLactancia" md-placeholder="Fecha de Inicio Lactancia" required></md-datepicker>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row" layout-align="space-around">
                  <md-input-container layout="row"flex-gt-sm="">
                    <label>Fecha de Secado</label>
                    <md-datepicker data-ng-model="fechaSecado" md-placeholder="Fecha de Secado"></md-datepicker>
                  </md-input-container>
                  <md-input-container layout="row"flex-gt-sm="">
                    <label>Fecha de Próximo Secado</label>
                    <md-datepicker data-ng-model="proximoSecado" md-placeholder="Proximo Secado"></md-datepicker>
                  </md-input-container>
                  <md-input-container layout="row"flex-gt-sm="">
                    <label>Fecha de Próximo Parto</label>
                    <md-datepicker data-ng-model="proximoParto" md-placeholder="Proximo Parto"></md-datepicker>
                  </md-input-container>
                </div>
                <div class="formFooter">
                  <md-button class="md-icon-button" ng-click="anteriorTarjeta()"><i class="material-icons hvr-pulse">arrow_back</i></md-button>
                  <span flex></span>
                  <div layout="row">
                    <md-button ng-href="#!/vacas" class="btnCancelar">Cancelar</md-button>
                    <md-button type="submit" class="md-primary" ng-disabled="formularioVaca.$invalid">Aceptar</md-button>
                  </div>
              </div>
            </md-card>
          </md-card-content>
        </md-card>
      </ks-swiper-slide>
    </ks-swiper-container>
  </form>
</section>