<section class="contenidoListado" data-ng-controller="VacasController" data-ng-init="find()">
  <md-card class="listadoVaca">
    <md-toolbar layout="row">
      <md-button class="md-icon-button" ng-click="find()">
        <md-icon>refresh</md-icon>
      </md-button>
      <span flex></span>
      <md-input-container class="busqueda" md-no-float>
        <input type="text" ng-model="search" placeholder="Buscar" ng-change="filter()">
        <md-icon md-font-set="material-icons" class="eventoIcono">search</md-icon>
      </md-input-container>    
    </md-toolbar>
    <md-table-container>
      <table md-table>
        <thead md-head md-order="orden">
          <tr md-row>
            <th md-column md-order-by="rp"><span>RP</span></th>
            <th md-column md-order-by="nombre"><span>Nombre</span></th>
            <th md-column md-order-by="activa"><span>Estado</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr class="listaVacas" ng-click="redireccionar(vaca._id)" md-row data-ng-repeat="vaca in filtered = (vacas | filterBy: ['nombre', 'rp']: search | where: {tambo: tambo, tipoAnimal:'V'} | orderBy:orden) | limitTo: offset - filtered.length | limitTo: pageSize">    
            <td md-cell>{{vaca.rp}}</td>
            <td md-cell>{{vaca.nombre}}</td>
            <td md-cell>{{vaca.activa ? 'Activa':'Baja'}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination class="paginacion" md-limit="pageSize" md-total="{{filtered.length}}" md-page="currentPage" ng-show="filtered.length > pageSize" md-page="currentPage" md-on-paginate="pageChanged()" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
  </md-card>
	<md-button class="md-fab md-primary md-hue-2 botonAgregar" ng-click="agregarVaca()">
		<md-icon md-font-set="material-icons"> add </md-icon>
	</md-button>
</section>