<section class="contenidoVaca" data-ng-controller="VacasController" data-ng-init="findOne()">
  <md-tabs class="tabs md-primary" md-dynamic-height="">
    <md-tab label="Ficha" >
    <!-- Ficha principal del animal -->
    <md-card class="tarjeta1">
      <div layout-gt-sm="row">
        <div>
          <img src="/images/VACA-320(2).jpg" class="md-media-gt-sm card-media" flex="initial"></img>
          <div class="activaSwitch">
            <md-switch ng-disabled="true" class="md-primary" aria-label="Switch Activa" data-ng-model="vaca.activa">Activa</md-switch>
          </div>
        </div>
        <div layout-gt-md="column" flex>
          <md-card-title-text class="tarjeta2Titulo" layout="row">
              <h3>RP: {{vaca.rp}}</h3>
              <h3>{{vaca.nombre}}</h3>
          </md-card-title-text>
          <md-card-content class="tarjeta2Contenido" layout="column">
            <ul class="list-unstyled">
              <li>RC: {{vaca.rc}}</li>
              <li>Categoría: {{vaca.categoria}}</li>
              <li>Fecha Nacimiento: {{vaca.fechaNacimiento | date : 'dd/MM/yyyy' : '-0300'}}</li>
              <li>Edad: {{vaca.edad}}</li>
              <li>Raza: {{vaca.raza}}</li>
            </ul>
            <div layout-gt-sm="row" class= "segundoContenido">
              <ul class="list-unstyled detalleAnimal">
                <li>Padre: {{vaca.hbaPadre}}</li>
                <li>Madre: {{vaca.rpMadre}}</li>
                <li>Ingreso al Sistema: {{vaca.fechaIngresoSistema | date : 'dd/MM/yyyy' : '-0300'}}</li>
                <li>Ingreso al Tambo: {{vaca.fechaIngresoTambo | date : 'dd/MM/yyyy' : '-0300'}}</li>
                <li>Fecha Lactancia: {{vaca.fechaInicioLactancia | date : 'dd/MM/yyyy' : '-0300'}}</li>
                <li>Número Lactancia: {{vaca.numeroLactancia}}</li>
                <li>Días al parto: {{vaca.diasAlParto}}</li>
                <li>Días de Preñez: {{vaca.diasPrenez}}</li>
                <li>Cantidad de Servicios: {{vaca.cantidadServicios}}</li>
                <li>Próximo Parto: {{vaca.proximoParto | date : 'dd/MM/yyyy' : '-0300'}}</li>
              </ul>
              <ul class="list-unstyled detalleAnimal">
                <li>Índice Parto Concepción: {{vaca.ipc}}</li>
                <li>Índice Parto Parto: {{vaca.ipp}}</li>
                <li>Índice Parto Parto Promedio: {{vaca.ippp}}</li>
                <li>Índice Fertilidad: {{vaca.indiceFertilidad}}</li>
                <li>Lote Actual: {{vaca.loteActual}}</li>
                <li>Lote Anterior: {{vaca.loteAnterior}}</li>
                <li>Secado: {{vaca.fechaSecado | date : 'dd/MM/yyyy' : '-0300'}}</li>
                <li>No Retorno: {{vaca.noRetorno}}</li>
                <li>Días Seca: {{vaca.diasSeca}}</li>
                <li>Próximo Secado: {{vaca.proximoSecado | date : 'dd/MM/yyyy' : '-0300'}}</li>
              </ul>
            </div>
          </md-card-content>
        </div>
      </div>
        <md-card-actions class="formFooter" layout="row" layout-align="end center">
            <md-button ng-href="#!/vacas" class="btnCancelar">Cancelar</md-button>
            <md-button class="md-primary" href="#!/vacas/{{vaca._id}}/edit">Editar</md-button>
            <md-button class="md-warn" data-ng-click="remove();">Eliminar</md-button>
        </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab label="Eventos">
    <!-- Listado de Eventos del animal seleccionado -->
    <div class="eventosContainer" id="eventosContainer" data-ng-controller="EventosReproductivosController" data-ng-init="find()">
    <md-card class="listadoVaca" ng-show="filtered.length > 0">
      <md-table-container>
        <table md-table>
          <thead md-head md-order="orden">
            <tr md-row layout-align="space-around">
              <th md-column md-order-by="evento.codigo"><span>Evento</span></th>
              <th md-column md-order-by="fecha"><span>Fecha</span></th>
              <th md-column md-order-by="tratamiento.numero"><span>Tratamiento</span></th>
              <th md-column md-order-by="participante.nombre"><span>Participante</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row class="listaEventos" ng-click="mostrarDetalle($event, eventoReproductivo)" ng-style="{'border-left-color': eventoReproductivo.evento.color}" data-ng-repeat="eventoReproductivo in filtered = (eventosReproductivos | filter: {vaca : $parent.vaca.rp} : true | orderBy:orden) | limitTo: offset - filtered.length | limitTo: pageSize" data-num-pages="numPages()">    
              <td md-cell>{{eventoReproductivo.evento.codigo}} - {{eventoReproductivo.evento.descripcion}}</td>
              <td md-cell>{{eventoReproductivo.fecha | date : 'dd/MM/yyyy' : '-0300'}}</td>
              <td md-cell>{{eventoReproductivo.tratamiento.numero}} - {{eventoReproductivo.tratamiento.descripcion}}</td>
              <td md-cell>{{eventoReproductivo.participante.nombre}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination class="paginacion" md-limit="pageSize" md-total="{{filtered.length}}" md-page="currentPage" ng-show="filtered.length > pageSize" md-page="currentPage" md-on-paginate="pageChanged()" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
    </md-card>
    <md-card ng-hide="filtered.length > 0" class="listadoVaca" layout="row" layout-align="space-around center">
      <h4> El animal no posee eventos</h4>
    </md-card>
    <md-button class="md-fab md-primary md-hue-2" ng-click="agregarEvento($event, $parent.vaca.rp)">
      <md-icon md-font-set="material-icons"> add </md-icon>
    </md-button>
  </div>
</md-tab>
</md-tabs>
</section>
