<section data-ng-controller="ProductoresController">
    <!-- Nuevo Productor -->
    <md-card class="tarjeta1">
        <md-card-title class="tarjeta1Titulo">
            <md-card-title-text>
                <span class="md-headline">Nuevo Productor</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="md-padding">
            <md-card class="md-padding">
                <form class="md-inline-form" name="formularioProductor" data-ng-submit="create()" novalidate>
                    <!--Formulario Nuevo Productor -->
                    <fieldset>
                        <div layout-gt-sm="column">
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Nombre</label>
                                <input data-ng-model="nombre">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Dirección</label>
                                <input data-ng-model="direccion">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Provincia</label>
                                <input data-ng-model="provincia">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>ID Productor</label>
                                <input data-ng-model="idProductor">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Nro Teléfono</label>
                                <input data-ng-model="telefono">
                            </md-input-container>
                        </div>
                        <div class="formFooter">
                            <a ng-href="#!/productores" class="btnCancelar">Cancelar</a>
                            <input type="submit" value="Guardar" class="btn">
                        </div>
                    </fieldset>
                </form>
            </md-card>
        </md-card-content>
    </md-card>
</section>