<section data-ng-controller="ProductoresController" data-ng-init="find()">
    <div class="panel-heading">
        <h1 class="page-header text-center">Productores</h1>
    </div>
    <div class="list-group" md-whiteframe="2">
        <!-- Listado de Productores -->
        <a data-ng-repeat="productor in productores | limitTo: offset - productores.length | limitTo: pageSize" data-ng-href="#!/productores/{{productor._id}}" class="list-group-item" data-num-pages="numPages()">
            <h4 class="list-group-item-heading" data-ng-bind="productor.nombre"></h4>
            <span>ID Productor {{ productor.idProductor }}</span>
        </a>
    </div>
</section>