.contenidoCria{
  padding-top: 60px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.tarjetaCria{
  min-width: 700px;
  display: flex;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
}
.radioGroup{
  margin: 0 10px !important;
}
.radioGroup label{
  color: grey;
}