<md-dialog aria-label="Evento" data-ng-controller="EventosReproductivosController">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span>{{eventoReproductivo.vaca}}</span>
      <span>{{eventoReproductivo.evento.codigo}} - {{eventoReproductivo.evento.descripcion}}</span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card layout="column" ng-hide="editar">
    <md-subheader class="md-primary">Detalles</md-subheader>
    <md-divider></md-divider>
    <h5>Fecha: {{eventoReproductivo.fecha | date : 'dd/MM/yyyy' : '-0300'}}</h5>
    <h5>Participante: {{eventoReproductivo.participante.nombre}}</h5>
    <h5>Tratamiento: {{eventoReproductivo.tratamiento.numero}} - {{eventoReproductivo.tratamiento.descripcion}}</h5>
    <h5 data-ng-show="eventoReproductivo.evento.codigo == 2">HBA Toro: {{eventoReproductivo.toro}}</h5>
    <md-card-actions class="formFooter" layout="row" layout-align="end center">
        <md-button class="md-primary" ng-click="hide()">Editar</md-button>
        <md-button class="md-warn" ng-click="remove(eventoReproductivo);answer();find()">Eliminar</md-button>
    </md-card-actions>
  </md-card>
</md-dialog>