<md-dialog aria-label="RP" class="fullScreenDialog" data-ng-controller="TorosController" data-ng-init="find()">
  <md-toolbar>
    <div class="md-toolbar-tools" layout-align="space-between center">  
      <md-input-container class="busqueda" md-no-float flex>
        <md-icon md-font-set="material-icons">search</md-icon>
        <input type="text" ng-model="search" placeholder="Buscar" ng-change="filter()">
      </md-input-container>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
    </md-toolbar>
  <form>
    <md-table-container>
      <!-- Listado de Vacas -->
      <table md-table>
        <thead md-head md-order="orden">
          <tr md-row>
            <th md-column md-order-by="hbaToro*1"><span>HBA</span></th>
            <th md-column md-order-by="nombre"><span>Nombre</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr class="listaVacas" md-row data-ng-repeat="toro in filtered = (toros | filterBy: ['nombre', 'rp', 'hba']: search | orderBy:orden) | limitTo: offset - filtered.length | limitTo: pageSize" ng-click="answer(toro)">  
          <td md-cell>{{toro.hbaToro}}</td>
          <td md-cell>{{toro.nombre}}</td>
        </tr>
        </tbody>
      </table>
      <md-table-pagination class="paginacion" md-limit="pageSize" md-total="{{filtered.length}}" md-page="currentPage" ng-show="filtered.length > pageSize" md-page="currentPage" md-on-paginate="pageChanged()" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
    </md-table-container>
  </form>
</md-dialog>