<md-dialog aria-label="RP" class="fullScreenDialog" data-ng-controller="VacasController" data-ng-init="find()">
  <md-toolbar>
    <div class="md-toolbar-tools" layout-align="space-between center">  
      <md-input-container class="busqueda" md-no-float flex>
        <md-icon md-font-set="material-icons">search</md-icon>
        <input type="text" ng-model="search" placeholder="Buscar" ng-change="filter()">
      </md-input-container>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
    </md-toolbar>
  <form>
    <md-table-container>
      <!-- Listado de Vacas -->
      <table md-table>
        <thead md-head md-order="orden">
          <tr md-row>
            <th md-column md-order-by="rp"><span>RP</span></th>
            <th md-column md-order-by="nombre"><span>Nombre</span></th>
          </tr>
        </thead>
        <tbody md-body>
        <tr md-row data-ng-repeat="vaca in filtered = (vacas | filterBy: ['nombre', 'rp']: search  | where: {tambo: tambo} | orderBy:orden) | limitTo: offset - filtered.length | limitTo: pageSizeDialog" ng-click="answer(vaca)" class="listaVacas" data-num-pages="numPages()">
          <td md-cell>{{vaca.rp}}</td>
          <td md-cell>{{vaca.nombre}}</td>
        </tr>
        </tbody>
      </table>
      <md-table-pagination class="paginacion" md-limit="pageSize" md-total="{{filtered.length}}" md-page="currentPage" ng-show="filtered.length > pageSize" md-page="currentPage" md-on-paginate="pageChanged()" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
    </md-table-container>
  </form>
</md-dialog>