<md-dialog aria-label="RP" class="" data-ng-controller="VacasController" data-ng-init="find()">
  <md-toolbar>
    <div class="md-toolbar-tools" layout-align="space-between center">  
      <md-input-container class="busqueda" md-no-float flex>
        <md-icon md-font-set="material-icons">search</md-icon>
        <input type="text" ng-model="search" placeholder="Buscar" ng-change="filter()">
      </md-input-container>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
    </md-toolbar>
  <form>
    <md-table-container>
      <!-- Listado de Vacas -->
      <table md-table md-row-select multiple ng-model="selected">
        <thead md-head md-order="orden">
          <tr md-row>
            <th md-column md-order-by="rp"><span>RP</span></th>
            <th md-column md-order-by="nombre"><span>Nombre</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr class="listaVacas" md-row md-select="vaca" md-select-id="rp" md-auto-select data-ng-repeat="vaca in filtered = (vacas | filterBy: ['nombre', 'rp']: search | where: {tambo: tambo} | orderBy:orden) | limitTo: offset - filtered.length | limitTo: pageSizeDialog">    
            <td md-cell>{{vaca.rp}}</td>
            <td md-cell>{{vaca.nombre}}</td>
          </tr>
        </tbody>
      </table>
      <md-table-pagination md-limit="pageSizeDialog" md-total="{{filtered.length}}" md-page="currentPage" ng-show="filtered.length > pageSizeDialog" md-page="currentPage" md-on-paginate="pageChangedDialog()" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
    </md-table-container>
    <md-button class="md-primary md-raised" ng-click="seleccionar()">Seleccionar</md-button>
  </form>
</md-dialog>