<section class="contenido" data-ng-controller="TorosController">
    <!-- Nuevo Toro -->
    <md-card class="tarjeta1">
        <md-card-title class="tarjeta1Titulo">
            <md-card-title-text>
                <span class="md-headline">Nuevo Toro</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="md-padding">
            <md-card class="md-padding">
                <form class="md-inline-form" name="formularioToro" data-ng-submit="create()" novalidate>
                    <!--Formulario Nuevo Toro -->
                    <fieldset>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Nombre</label>
                                <input data-ng-model="nombre">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>RP</label>
                                <input data-ng-model="rp" required="" name="rp">
                                <div ng-messages="formularioToro.rp.$error">
                                  <div ng-message="required">Ingrese un RP</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>HBA</label>
                                <input data-ng-model="hbaToro" required="" name="hba">
                                <div ng-messages="formularioToro.hba.$error">
                                  <div ng-message="required">Ingrese un HBA</div>
                                </div>
                            </md-input-container>
                          </div>
                          <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Apodo</label>
                                <input data-ng-model="apodo">
                            </md-input-container>
                            <md-input-container layout="row"flex-gt-sm="">
                              <label>Fecha de Nacimiento</label>
                              <md-datepicker data-ng-model="fechaNacimiento" md-placeholder="Fecha de Nacimiento"></md-datepicker>
                            </md-input-container>
                            <md-input-container layout="row"flex-gt-sm="">
                              <label>Fecha de Ingreso</label>
                              <md-datepicker data-ng-model="fechaIngreso" md-placeholder="Fecha de Ingreso"></md-datepicker>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                          <md-input-container class="md-block" flex-gt-sm="">
                              <label>Edad</label>
                              <input data-ng-model="edad">
                          </md-input-container>
                          <md-input-container class="md-block" flex-gt-sm="">
                              <label>Raza</label>
                              <input data-ng-model="raza" required>
                          </md-input-container>
                          <md-input-container class="md-block" flex-gt-sm="">
													  <md-select data-ng-model="tipoServicio" placeholder="Tipo de Servicio" required name="servicio">
  															<md-option ng-value="tipoServicio" ng-repeat="tipoServicio in tipoServicios">{{tipoServicio}}</md-option>
  													</md-select>
                            <div ng-messages="formularioToro.servicio.$error">
                              <div ng-message="required">Ingrese el tipo de servicio</div>
                            </div>
                          </md-input-container>
                        </div>
                        <div class="formFooter">
                          <div layout="row">
                            <md-button ng-href="#!/toros" class="btnCancelar">Cancelar</md-button>
                            <md-button type="submit" class="md-primary" ng-disabled="formularioToro.$invalid">Aceptar</md-button>
                          </div>
                        </div>
                    </fieldset>
                </form>
            </md-card>
        </md-card-content>
    </md-card>
</section>