<section class="contenido" data-ng-controller="TorosController" data-ng-init="findOne()">
  <md-card style="margin-top:80px">
    <div layout-gt-sm="row" style="margin-top:20px">
      <md-input-container>
        <label>Fecha Desde</label>
  			<md-datepicker data-ng-model="fecha_desde" class="datos"></md-datepicker>
      </md-input-container>
      <md-input-container>
        <label>Fecha Hasta</label>
  			<md-datepicker data-ng-model="fecha_hasta" class="datos"></md-datepicker>
      </md-input-container>
    </div>
    <md-button class="md-accent md-raised" ng-click="calcularEstadisticas()">Calcular</md-button>
  </md-card>
  <md-card>
    <div>
      <div class="col-xs-6">
        <md-content ng-if="verGraficos">
          <h4 class="text-center">Eficacia Servicios</h4>
          <canvas class="chart chart-pie" chart-data="data_servicios" chart-labels="labels" chart-options="options">
          </canvas> 
        </md-content>
      </div>
      <div class="col-xs-6">
        <md-content ng-if="verGraficos">
          <h4 class="text-center">Preñeces</h4>
          <canvas class="chart chart-pie" chart-data="data_preneces" chart-labels="labels" chart-options="options">
          </canvas> 
        </md-content>
      </div>
    </div>
  </md-card>
</section>